body {
  background-color: #fff5ca;
}

header h1 {
  font-family: "Sanchez", serif;
  font-weight: bold;
  font-size: 5rem;
  margin-left: 3rem;
  color: #33505a;
}

.mission {
  text-align: right;
  margin-top: 10rem;
  margin-right: 20%;
}

.mission h1 {
  font-family: "Sanchez", serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: #33505a;
}
